<p id="notice"><%= notice %></p>

<p>
  <b>Owner user:</b>
  <%= @action.owner_user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @action.description %>
</p>

<p>
  <b>Associated points:</b>
  <%= @action.associated_points %>
</p>


<%= link_to 'Edit', edit_action_path(@action) %> |
<%= link_to 'Back', actions_path %>
