<p id="notice"><%= notice %></p>

<p>
  <b>Owner user:</b>
  <%= @review.owner_user_id %>
</p>

<p>
  <b>Points:</b>
  <%= @review.points %>
</p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
